        .our-amazing-team {
            background-color: #f9f9f9;
        }

                .flex-container-amazing-team {
                    display: flex;
                    justify-content: center;
                }

        .header-amazing-team {

            text-align: center;
        }

            .header-amazing-team h3{
                color: #222222;
                padding-top: 120px;
                text-transform: uppercase;
                font-family: $fonts_Montserrat;
                font-weight: $font_weight_bold;
                font-size: 2.5rem;
            line-height: 1.875;
                letter-spacing: -0.05em;
            }

        .header-amazing-team p {

            padding-top: 20px;
            color:#777777;
            
        font-family: $fonts_Dosis;
        font-style: italic;
        font-weight: 600;
        font-size: 1rem;
        }

            .main-amazing-team{
                
                max-width: 800px;
                margin: 0 auto;
                display: flex;
            
                justify-content: center;
                padding-top: 85px;
            }

        .column-amazing-team {

            text-align: center;
        padding: 20px;
        }

            .column-amazing-team h4 {
                padding-top: 25px;
                color:#333333;
                font-family: $fonts_Montserrat;
                font-weight: $font_weight_bold;
                font-size: 1.125rem;
                letter-spacing: 0.025em;
            }

        .column-amazing-team p {
            padding-top: 15px;
            padding-bottom: 15px;
            color: #8f8f8f;
            font-family: $fonts_Dosis;
            
            font-size:0.875rem;
        }
            
            .column-amazing-team a {
                
                color: #222222;
            }

        .column-amazing-team i {
            font-size: 35px;
            border: #222222 solid 2px;
            padding: 10px;
            margin: 5px;
            border-radius: 50%;
        }

        
            .hover-twitter:hover {

                background-color: #00aced;
                color: white;
                border: #00aced solid 2px;
            }

        .hover-facebook:hover {

            background-color: #3b5998;
            color: white;
            border: #3b5998 solid 2px;
        }

            .hover-pinterest:hover {

                background-color: #cb2028;
                color: white;
                border: #cb2028 solid 2px;
            }

        .hover-gmail:hover {

            background-color: #da2713;
            color: white;
            border: #da2713 solid 2px;
        }

            .footer-amazing-team {

                max-width: 620px;
                margin: 0 auto;
                color: #777777;
                text-align: center;
                font-family: $fonts_robo;
                font-weight: $font_weight_regular;
                font-size: 1rem;
                letter-spacing: -0.025em;
                padding-top: 30px;
                padding-bottom: 120px;
            }

            @media all and (max-width: 930px){

                .main-amazing-team{

                    flex-wrap: wrap;
                }
                    .column-amazing-team {
                    
                    width: 49%;
                    
                    }
            }

        @media all and (max-width: 660px){
            
            .column-amazing-team {
            
                width: 99%;

            }
        }
