$our_portfolio_section_background_color: #f7f7f7;

$fonts_Montserrat: 'Montserrat', 'sans-serif';
$fonts_Dosis: 'Dosis', 'sans-serif';
$fonts_robo: 'Roboto Slab', 'serif';
$font_weight_regular: 400;
$font_weight_bold: 700;

//$nav_top_font_size: 0.875rem;
//$nav_top_line-height: 2.9;
//$nav_top_letter-spacing: 0.1;

